
.mail{
  position: relative;
  top: 11px;
  padding-left: 32px;
}
.text {
  padding-left: 127px;
  padding-top: 150px;
}
a {
  margin-right: 49px;
}
.header {
  padding-left: 127px;
  padding-top: 59px;
  color: aliceblue;
  font-size: 24px;
}

.start {
  color: aliceblue;
  font-size: 100px;
  width: 385px;
  height: 130px;
}
.about {
  color: aliceblue;
  text-align: left;
  font-size: 30px;
  width: 497px;
  height: 174px;
}
.contacts{
  float: right;
  padding-right: 67px;
  position: relative;
  bottom:60px;

}
.in{
  width: 60px;
  height: 48px;
  padding-left: 32px;
}
body {
  background-color: #111111;
}
